.place__title {
  grid-area: title;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin-top: 0;
  color: #FFFFFF;
}

.place__title_width_long {
  width: 584px;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .place__title {
      font-size: 42px;
      line-height: 46px;
      height: auto;
      width: 340px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
      font-size: 32px;
      line-height: 35px;
      height: auto;
      width: 288px;
  }
}