.photo-grid {
  margin: 92px auto auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
  max-width: 1184px;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .photo-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      margin: auto 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .photo-grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
  }
}