.cover__button {
    height: 48px;
    width: 198px;
    background-color: #0278fe;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    z-index: 2;
    color: white;
    font-size: 18px;
    line-height: 22px;
    align-self: center;
    text-align: center;
    text-decoration: none;
}


.cover__button:hover {
    background-color: #0063D2;
}