.intro__text-autor {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.42;
    color: #FFFFFF;
    text-align: right;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .intro__text-autor {
        margin: 0;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .intro__text-autor {
        line-height: 30px;
        width: 288px;
    }
  }