.cover__title {
    width: 656px;
    height: 76px;
    font-family: 'Inter' 'Sans-serif' 'Serif' 'Monospace' 'Cursive';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    z-index: 2;
    padding-top: 243px;
    margin-bottom: 32px;
    color: #FFFDFD;
}

@media screen and (max-width: 320px) {
    .cover__title{
        font-size: 32px;
        line-height: 35px;
        width: 288px;
        height: auto;
        padding-top: 20px;
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .cover__title {
        padding-top: 170px;
    }
}