.place {
    display: grid;
    /*grid-template-columns: minmax(100px, max-content) minmax(100px, max-content);
    grid-template-rows: auto repeat(minmax(100px, max-content));*/
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 40px;
    grid-template-areas:
    "title artist"
    "image text"
    "button text";
    margin-top: 92px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .place {
      grid-gap: 20px;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .place {
      grid-template-areas:
        "title"
        "artist"
        "image"
        "text"
        "button";
    }
    .place__image {
      max-width: 100%;
    }

    .places {
      width: auto;
    }
  }
